@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.lists {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container h2 {
  margin-bottom: 30px;
}

.container h3 {
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 3.125%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .container h2 {
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo-text {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.192;
  }
}

.sections-headers {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.sections-padding {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .sections-padding {
    padding: 94px 0;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-lists {
  display: flex;
  justify-content: center;
}

.socials-lists-item:not(:last-child) {
  margin-right: 10px;
}

.socials-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 93.75%;
  min-height: 609px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding-left: 1px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-close-button-svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-svg {
  fill: #2196f3;
}

/* ========== Main forms ========== */
.backdrop-form {
  padding: 8.33vw;
}

.backdrop-form-label {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop-form-titles {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop-form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop-form-textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop-form-submit-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
}

.backdrop-form-titles-icon {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.backdrop-form-titles-icon-svg {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop-form-input:focus, .backdrop-form-textarea:focus {
  border-color: #2196f3;
}

.backdrop-form-input:focus + .backdrop-form-titles-icon-svg {
  fill: #2196f3;
}

.backdrop-form-agreement {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: #757575;
}

.backdrop-form-agreement a {
  color: #2196f3;
}

.backdrop-form-agreement::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1), border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop-form-agreement-wrapper {
  display: block;
  position: relative;
}

.backdrop-form-policy-box {
  position: absolute;
  width: 11px;
  height: 8px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.backdrop-form-agreement-checkbox:checked + .backdrop-form-agreement::before {
  background-color: #2196f3;
  border: none;
}

.backdrop-form-name-icon {
  width: 12px;
  height: 12px;
}

.backdrop-form-tel-icon {
  width: 13px;
  height: 13px;
}

.backdrop-form-email-icon {
  width: 15px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .backdrop-form {
    padding: 40px;
  }
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .backdrop-form-modal {
    line-height: 1.15;
  }
  .backdrop-form-agreement {
    font-size: 14px;
    line-height: 1.714;
  }
}

.mobile-menu-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-color: #ffffff;
  transform: translate(0%, 0%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.mobile-menu-modal.is-hidden {
  transform: translate(0%, -100%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mobile-menu-modal-close-button {
  position: absolute;
  right: 26px;
  top: 21px;
  width: 19px;
  height: 19px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.mobile-menu-modal-close-button-svg {
  width: 19px;
  height: 19px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-modal-close-button:hover .mobile-menu-modal-close-button-svg {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navi-bar {
  margin: 16px 0px;
}

.header .navi-bar .lists {
  display: none;
}

.header .address-info {
  display: none;
}

.mobile-menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  padding: 11px 8px;
  margin-right: 0;
}

.mobile-menu-btn svg {
  width: 24px;
  height: 18px;
  fill: #212121;
}

.mobile-menu-btn:hover svg, .mobile-menu-btn:focus svg {
  fill: #2196f3;
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.header-menu-container {
  padding: 48px 8.33%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-menu-container .lists {
  display: flex;
  flex-direction: column;
}

.header-menu-container-address .lists {
  flex-direction: column-reverse;
}

.header-menu-container-list-link {
  font-weight: 500;
  font-size: 8.33vw;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-container-list-link.active {
  color: #2196f3;
}

.header-menu-container-contact-link {
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-menu-container-contact-link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-container-list-link:hover, .header-menu-container-contact-link:hover, .header-menu-container-list-link:focus, .header-menu-container-contact-link:focus {
  color: #2196f3;
}

.header-menu-container-contact-link:hover svg,
.header-menu-container-contact-link:focus svg {
  fill: #2196f3;
}

.header-menu-container-list-item {
  margin-bottom: 32px;
}

.header-menu-container-list-item.active {
  margin-bottom: 36px;
}

.header-menu-container-address-list-item {
  margin-bottom: 32px;
}

.header-menu-container-address-list-item:not(:last-child) {
  margin-bottom: 64px;
}

.header-menu-container .email-svg {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-container .smartphone-svg {
  width: 10px;
  height: 15px;
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-container-address-list-item:last-child a {
  color: #2196f3;
  font-size: 7.08vw;
  line-height: 1.176;
}

.mobile-menu-socials-list.lists {
  flex-direction: row;
}

.mobile-menu-socials-list a {
  font-size: 3.33vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 0 2.08vw;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials-list li:last-child a {
  border-right: none;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
  .header .navi-bar {
    display: flex;
    margin: 25px 0px;
  }
  .header .navi-bar .logo-link {
    margin-right: 88px;
  }
  .header .navi-bar .lists {
    display: flex;
    align-items: center;
  }
  .header .navi-bar .header-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header .navi-bar .header-list-item a {
    display: flex;
    align-items: center;
  }
  .header .navi-bar-list-link, .header .navi-bar-contact-link {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    position: relative;
  }
  .header .navi-bar-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header .navi-bar-contact-link {
    font-size: 12px;
    line-height: 1.167;
  }
  .header .navi-bar-list-link {
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .navi-bar-list-link.active {
    color: #2196f3;
  }
  .header .navi-bar-contact-link {
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .navi-bar-list-link:hover, .header .navi-bar-contact-link:hover, .header .navi-bar-list-link:focus, .header .navi-bar-contact-link:focus {
    color: #2196f3;
  }
  .header .navi-bar-contact-link:hover svg,
  .header .navi-bar-contact-link:focus svg {
    fill: #2196f3;
  }
  .header .address-info {
    display: block;
  }
  .header .address-info .header-list-item {
    display: flex;
  }
  .header .address-info .header-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header .address-info a {
    display: flex;
    align-items: center;
  }
  .header .mobile-menu-btn {
    display: none;
  }
  .header .header-menu-container {
    display: none;
  }
  .email-svg {
    width: 16px;
    height: 12px;
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .smartphone-svg {
    width: 10px;
    height: 16px;
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active::after {
    content: "";
    left: 0;
    bottom: -32px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 100%;
  }
  .header .navi-bar .logo-link {
    margin-right: 93px;
  }
  .header .navi-bar-contact-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header .address-info ul {
    display: flex;
  }
  .header .address-info ul .header-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .email-svg {
    margin-right: 10px;
  }
  .smartphone-svg {
    margin-right: 10px;
  }
  .active::after {
    content: "";
    left: 0;
    bottom: -33px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button-list-item {
  margin-bottom: 15px;
}

.button-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.menu-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-active,
.menu-buttons:hover,
.menu-buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .button-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .button-list-item {
    margin-bottom: 0px;
  }
}

.our-projects-list-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  width: 100%;
}

.our-projects-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}

.our-projects-list-item h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.our-projects-list-item p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-list-item-description {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.our-projects-list-item-description::before {
  display: inline-block;
  content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: #ffffff;
  font-size: 3.75vw;
  line-height: 5.83vw;
  letter-spacing: 0.03em;
  padding: 16.04vw 5vw 16.04vw 5vw;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-projects-list-item:hover .our-projects-list-item-description::before {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .our-projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .our-projects-list-border {
    width: 354px;
    min-height: 147px;
  }
  .our-projects-list-item {
    margin: 15px;
  }
  .our-projects-list-item-description::before {
    font-size: 18px;
    line-height: 1.56;
    padding: 49px 24px 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .our-projects-list-border {
    width: 370px;
  }
  .our-projects-list-item-description::before {
    padding: 63px 24px 63px 24px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  min-height: 252px;
}

.footer-contacts a {
  display: block;
}

.footer-contacts .logo-link {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: #2196f3;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.footer-address-link:hover, .footer-address-link:focus {
  color: #2196f3;
}

.footer-list-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-socials {
  margin-top: 60px;
}

.footer-socials p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-socials .socials {
  background: rgba(255, 255, 255, 0.1);
}

.footer-socials .socials-svg {
  fill: #ffffff;
}

.footer-socials .socials:hover,
.footer-socials .socials:focus {
  background-color: #2196f3;
}

.footer-socials .socials:hover .socials-svg,
.footer-socials .socials:focus .socials-svg {
  fill: #ffffff;
}

.footer-subscribe {
  margin-top: 60px;
}

.footer-subscribe p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-subscribe-btn {
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 20px auto 0px auto;
}

.footer-subscribe-btn-svg {
  margin-left: 10px;
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.email-form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form-input:focus {
  border-color: #2196f3;
}

.email-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .email-form-input {
    width: 450px;
  }
  .footer-socials {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 57px 0;
  }
  .footer .container {
    align-items: baseline;
  }
  .footer .email-form-input {
    width: 358px;
    margin-right: 12px;
  }
  .footer-contacts {
    margin-right: 70px;
  }
  .footer-contacts .logo-link {
    text-align: left;
  }
  .footer-contacts-link {
    text-align: left;
  }
  .footer-socials {
    margin: 0px 93px 0 0;
  }
  .footer-socials p {
    text-align: left;
  }
  .footer-subscribe {
    margin-top: 0px;
  }
  .footer-subscribe P {
    text-align: left;
  }
  .footer-subscribe-form {
    display: flex;
  }
  .footer-subscribe-btn {
    margin-top: 0px;
  }
  .footer-adress-link {
    text-align: left;
  }
  .footer-list-link:not(:last-child) {
    margin-bottom: 9px;
  }
}
/*# sourceMappingURL=portfolio.css.map */