.what-are-we {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-are-we {
    display: block;
    .lists {
      display: flex;
      flex-wrap: wrap;
    }

    &-list-item {
      position: relative;
      margin-right: 30px;
      margin-bottom: 30px;

      &-text {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &-text {
        width: 100%;
        padding: 27px 27px;
        color: $main-header-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: rgba(47, 48, 58, 0.8);
      }

      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
      }
    }
  }
}
