.logo-link {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo-text {
  color: $accent-color;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.192;
  }
}
