.logo-link {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-text {
  color: $accent-color;
}
