$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$main-header-color: #ffffff;
$headers-color: #212121;
$simple-text-color: #757575;
$menu-buttons-background-color: #f5f4fa;
